<div>

    <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
        <div *ngIf="isNotValid">{{errors}}</div>
      <div>
      <label for="nameInput">Name :</label>
      <input type="text"
             id="nameInput"
             placeholder="Name"
             [formControl]="name"
             >
      </div>
      <div *ngIf="!name.valid && name.touched">There is an error in the name value</div>
      <div>
      <label for="emailInput">Last Name :</label>
      <input type="text"
             id="emailInput"
             placeholder="Email"
             [formControl]="email"
             >
      </div>
      <div *ngIf="!email.valid && email.touched">There is an error in the name value</div>
             <input type="submit" value="Save">

    </form>
  </div>
